html {
  width: 100%;
  height: 100%;
}
body {
  width: 55.5em;
  height: 100%;
  position: relative;
  margin: 0 auto;
  font: 14px Arial, Helvetica, FreeSans, sans-serif;
  background: #eee;
  color: #555;
}
header {
  width: 100%;
  height: 5.5em;
}
header,
article h2 {
  border-bottom: 1px solid #ccc;
}
article {
  float: left;
  display: inline;
  overflow: hidden;
  width: 80%;
}
nav {
  margin: 5 gutter;
  float: left;
  display: inline;
  overflow: hidden;
  width: 15.238095238095237%;
  margin: 0 2.380952380952381%;
}
ul {
  padding-left: 1em;
}
li {
  padding-top: 0.5em;
}
section {
  margin: 0.35 gutter;
  float: left;
  display: inline;
  overflow: hidden;
  width: 46.276595744680854%;
  margin: 0 1.8617021276595744%;
}
header,
h2,
a {
  color: #006060;
}
pre {
  padding: 0.5em;
  border: 1px solid #ccc;
}
