 html {
  font-family: sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
 h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
 h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
 ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
body {
  width: 65.5em;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
article,
nav,
section {
  float: left;
  display: inline;
  overflow: hidden;
}
article {
  width: 64.58333333333333%;
  margin: 0 1.0416666666666665%;
  float: right;
}
nav {
  width: 31.25%;
  margin: 0 1.0416666666666665%;
}
ul {
  padding: 0 1em;
  margin: 0;
}
li {
  margin: 0.4em 0;
}
section {
  width: 46.15384615384615%;
  margin: 0 1.9230769230769231%;
}
section code {
  color: #00008b;
}
section ins {
  text-decoration: none;
  color: #777;
}
