@import 'mustang.styl'
@import 'prefixes/all.styl'
@import 'uses/normal.styl'

{
  use: normal, fonts spacing, html h1 h2 p ul li;
  use: normal, html5-compat, sectioning;
}
body {
  area: 65.5em 100%;
  position: relative top center;
}
article,
nav,
section {
  position: grid;
}
article {
  width: 8col;
  float: right;
}
nav {
  width: 4col;
}
ul {
  padding: 0 1em;
  margin: 0;
}
li {
  margin: 0.4em 0;
}
section {
  width: 1col 2grid 10gutter;
}
section code {
  color: darkblue;
}
section ins {
  text-decoration: none;
  color: #777;
}